body{
    background-color: black;
}

#button{
    background-color: white;;
}


#darkmodeToggle{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top:0px;
    left:90%;

}



