:root{
    --blogFormWidth: 800px;
    --blogLine: 54%;
    
}


#myfirstHeader{
position: relative;
left: 19%;
top: 350px;
display: flex;
}

#textadjustH1{
font-size: 50px;
display: flex;

}

#aboveForm{
    position: relative;
    left: 68%;
    top: 240px;

}

.blogForm {
    position: relative;
    left: var(--blogLine);
    top:260px;

    
}

#formUsername{
    width: var(--blogFormWidth);
}
#formTitle{
    width: var(--blogFormWidth);

}

#formContent {
width: var(--blogFormWidth);
height: 100px;
}